<div class="banner lists-page">
  <div class="container">
    <h1>Save any kind of movies</h1>
    <h2>Have FUN!</h2>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-between mb-3">
    <h2>My Lists</h2>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-info" %>
  </div>

  <div class="row flex-wrap">
    <% @lists.each do |list| %>
      <div class="col-4">
        <div class="card-category my-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path list.photo.key %>')">
          <h3><%= link_to list.name, list_path(list) %></h3>
        </div>
      </div>
    <% end %>
  </div>
</div>
