<div class="container col-6">
  <h1 class="my-4">Add a new list</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>

    <%= f.submit 'Add list', class: "btn btn-info" %>
  <% end %>
</div>
